@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');

body{
	margin: 0;
	cursor: pointer;
	scroll-behavior: smooth;
}
.topbar{
	display: flex;
	flex-direction: column;
}
.logo{
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-transform: capitalize;
	text-decoration: unset;
}
.ww{
	font-family: 'Vollkorn' serif;
	font-weight: bold;
	font-size: 50px;
}
.wk{
	font-family:'Roboto Slab' serif;
	font-weight: bold;
}
.cp{
	font-family:'Pacifico' cursive;
}
.sf{
	font-family:'Satisfy' cursive;
	font-weight: bold;
}
.ff{
	font-family:'Hind Madurai' sans-serif;
}
.pp{
font-size: 50px;
font-family:'Francois' sans-serif;
text-decoration: unset;
letter-spacing: 3px;
}
.ss{
 font-size: 30px;
 font-family:'Lora' serif;
 text-decoration: unset;
 letter-spacing: 5px;
}
.header-contact{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #0d47a1 ;
height: 55px;
width: 100%;
opacity: 0.7;
align-items: center;
text-transform: capitalize;
text-decoration: unset;
}
.banner{
	background-image:linear-gradient(rgba(100,125,200,0.4),rgba(50,130,180,0.6),rgba(45,150,220,0.5)), url(pictures/a1.jpg);
	height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tbanner{
	background-image:linear-gradient(rgba(100,125,200,0.4),rgba(50,130,180,0.6),rgba(45,150,220,0.5)), url(pictures/a3.jpg);
	height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cbanner{
	background-image:linear-gradient(rgba(100,125,200,0.4),rgba(50,130,180,0.6),rgba(45,150,220,0.5)), url(pictures/a2.jpg);
	height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cpbanner{
	background-image:linear-gradient(rgba(100,125,200,0.4),rgba(50,130,180,0.6),rgba(45,150,220,0.5)), url(pictures/p1.jpg);
	height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-contact span{
	color: #b8e4fa;
}
.menu-content{
display: flex;
justify-content: space-around;
align-items: center;
background-color:#00c2ff;
height: 100px;
}
.menu a{
	margin-right: 15px;
	padding: 8px;
	color: white;
	font-size: 20px;
	font-family:'Oxygen' sans-serif; 
	font-weight: bold;
}
.lesson{
	background:linear-gradient(rgba(6,133,166,0.5),rgba(6,133,150,0.6),rgba(6,190,255,0.7)), url(photos/p1.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 380px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 30px;
}
@media (max-width: 576px) {
  .hide {
    display: none;  }
}
.intro-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 4;
}
.course{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
}
.web{
	background-color: white;
	border-radius: 50%;
	width: 130px;
	position: relative; 
	height: 130px; 
	line-height: 1.3; 
	margin-top:-70px; 
	margin-right: auto; 
	margin-left: auto; 
	margin-bottom: 0; 
	padding: 10px;
}
.product{
	color: white;
	font-weight: bold;
	
}
.teacher-info{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
.experience{
	background:linear-gradient(rgba(222,13,16,0.5),rgba(69,133,150,0.6),rgba(166,190,24,0.7)), url(br.jpg);
	/*height: 500px;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center; 
}
.request{
	background:linear-gradient(rgba(222,13,16,0.5),rgba(69,133,150,0.6),rgba(166,190,24,0.7)), url(pictures/p1.jpg);
	/*height: 600px;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.testimony{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center; 
}
.hub{
	border-radius: 50%;
	background-color: blue;
	color: white;
	height: 130px;
	width: 110px;
	line-height: 1.3;
	position: relative;
	margin-right: auto;
	margin-left:auto;
	padding: 10px;
	margin-left: 20px;"
}.flow{
	font-size: 15px; 
	color: rgba(0,0,0,0.5);
	margin:0px 0px 16px;
}
.tim{
	color: #fda638;
	font-size: 16px; 
	height: 17px;
	width: 79px;
}
.van{
	color: #000000;
	font-size: 16px;
	margin: 0px 0px 16px;
}
.bad{
	height: 264px; 
	width: 355px; 
	font-size: 16px;
	background-color: #fafafa;
}
.cd{
	background:url(mc.jpg); 
	height: 264px; 
	width: 260px; 
    background-position: top;
}
.pan{
	color: #5c50c6; 
	font-size: 44px; 
	font-family:sans-serif; 
	width: 232px; 
	height: 49px;
}
.mg{
	font-size: 44px; 
	margin:0px 0px 24px; 
	font-family: sans-serif; 
	color: #f1f1f1;
}
.cdm{
	background:url(cm.jpg); 
	height: 264px; 
	width: 260px; 
	background-position: right;
}
.cdc{
	background:url(mc.jpg); 
	height: 264px; 
	width: 260px; 
	background-position: top; "
}
.mc{
	background:url(music.jpg); 
	height: 264px; 
	width: 260px; 
	background-position: center;
}
.comput{
	background:url(art.jpg); 
	height: 264px; 
	width: 260px; 
	background-position: center;
}